body{
    background-color: aliceblue;
    background-attachment:fixed;
    background-size:cover;
    background-image: url(images/color.jpg);
}
button{
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    margin-left: 15px;
}
.buttoncolor{
    background-color:whitesmoke;
}
.buttonalign{
    margin-left: 45%;
}
div{
    border-radius: 30px;
    background: rgba(135, 140, 140, .5);
    border-style: solid;
    border-width: 2px;
    margin-left: 33%;
    margin-right: 33%;  
}
input{
    background-color: white;
    width: 14%;
}
.preview{
    background-color: white;
}
.button{
    margin-left: 20px;
    height: 25px;
    
}
.addsub{
    margin-left: 35%;
}
.align{
    margin-left: 40%;
}

.heading{
    font-family: 'Syne Mono', monospace;
}
.hex{
    width: 55px;
}
.rgb{
    width: 35px;
}
p{  
    margin-left: 20px;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}